.btn{
    height: 50px;
    width: 70px;
    color: aliceblue;
    background-color: black;
    border: 1px solid aliceblue;
    position: fixed;
}
#mine{
    right: 288px;
}
#bag{
    right: 218px;
}
#shop{
    right: 148px;
}
#data{
    right: 78px;
}
#account{
    right: 8px;
}
.acbtn{
    width: 80px;
    background-color: black;
    color: aliceblue;
    border: 1px solid aliceblue;
    position: fixed;
}
#ac1{
    right: 8px;
    top: 60px;
}
#ac2{
    right: 8px;
    top: 82.5px;
}
.btn:hover{
    background-color : rebeccapurple;
}
.acbtn:hover{
    background-color: rebeccapurple;
}
#bbcontainer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
#bcontainer1{
    width: 600px;
    height: 500px;
    border: 1px solid aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#picimg{
    width: 120px;
    height: 120px;
}
#caveimg{
    width: 187.5px;
    height: 120px;
}
.sbtn{
    border: 1px solid aliceblue;
    background-color: black;
    color: aliceblue;
}
#picaxe{
    border: 1px solid aliceblue;
    background-color: black;
}
#cave{
    border: 1px solid aliceblue;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: space-between;
}
.orbimg{
    width: 30px;
    height: 30px;
}
.orbamount{
    position: relative;
    top: 7px;
    margin: 0px;
}
#money{
    position: fixed;
    width: 100px;
    height: 150px;
}
.smon{
    display: flex;
    color: aliceblue;
}
#moneyh3{
    color: aliceblue;
    margin: 0px;
}
.sbtn:hover{
    background-color: rebeccapurple;
}